*{
    margin:0px;
    padding: 0px;
}
#nav_bar{
    height: 40px;
    width: 100%;
    background-color:cornflowerblue;
}
#logo,#nav_bar,#login_register{
    display: inline-block;
}
#nav a,#login_register{
    color: black;
    text-decoration: none;
    font-size: 15px;
}
#login_register{
    float: right;
    margin-top: 10px ;
}
#nav{
    float: left;
    width:300px;
    height: 40px;
    margin-left: 100px;
    margin-top: 10px;
}
#logo{
    float: left;
    width: 100px;
}
#logo img{
    height: 45px;
    width: 45px;
}
.container{
    width: 100%;
    height: 500px;
    background-color: ghostwhite;
    justify-content: center;
    display: flex;
    align-items: center;
}
#register_form{
    height: auto;
    width: 300px;
    padding: 20px;
    background-color: aliceblue;
    border: 1px solid dimgray;
}
label{
    display: inline-block;
    width: 100px;
}
#login_form{
    width: 290px;
    padding: 20px;
    background-color: aliceblue;
    border: 1px solid dimgray;
}
#login_btn{
    text-align: center;
    margin-top: 20px;
}
#login_form input{
    margin: 6px;
}
#register_form input{
    margin: 6px;
}
#register_btn{
    text-align: center;
    margin-top: 20px;
}
.content_title{
    display: inline-block;
    background-color: aliceblue;
}
.product_container{
    width: 70%;
    border: 1px solid cornflowerblue;
    border-radius: 15px;
}
.product{
    height: 300px;
    width: 200px;
    display: inline-block;
    background-color: cornflowerblue;
    margin-left: 40px;
    margin-top: 0px;
    padding: 10px;
    border-radius: 15px;
}
.product img{
    height: 160px;
    width: 160px;
    border: 1px solid aliceblue;
    border-radius: 15px;
    margin-left: 20px;
    margin-top: 20px;
}
.add_to_cart_btn{
    padding: 10px;
    background-color: aliceblue;
}