* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(117, 163, 192);
}
h1{
    font-style: italic;
}
#nav_bar {
    height: 80px;
    width: 100%;
    background-color: rgb(72, 63, 118);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    position:fixed;
    font-style: italic;
}
#logo img {
    height: 60px;
    width: 60px;
    margin-left: 0px;
}
#nav a,
#login_register a {
    color: rgb(146, 222, 200);
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
}
#nav a:hover,
#login_register a:hover {
    color: cornflowerblue;
}
#nav {
    display: flex;
    align-items: center;
}
#login_register {
    display: flex;
    align-items: center;
}
.container{
    background-color: rgb(145, 140, 169);
    width:100%;
    height: 900px;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
}
 #register_form{
    background-color:ghostwhite;
    height: auto;
    width: 350px;
    padding:20px;
    border: 2px dashed rgb(17, 8, 8);
    font-style: italic;
 }
 label{
    display: inline-block;
    width: 100px;
 }
 #register_btn{
     padding: 5px;
    margin-bottom: 5px;
    background-color: rgb(25, 16, 4);
    color: aliceblue;
 }
 #form{
    border: 2px dashed rgb(17, 8, 8); 
    padding: 25px;
    background-color: ghostwhite;
    font-style: italic;
 }
#login_btn{
    padding: 5px;
    margin-bottom: 5px;
    background-color: rgb(18, 12, 5);
    color: aliceblue;
}

.product_container{
    width: 1100px;
    height: 465px;
    border:1px solid aliceblue;
    border-radius: 15px;
}

.product{
    height: 370px;
    width: 200px;
    padding: 10px;
    display: inline-block;
    background-color: rgb(212, 212, 222);
    margin-right: 10px;
    border-radius:10px;
    box-shadow: 5px 5px dimgray;
    margin-top:45px;
}
.product img{
    height: 160px;
    width:140px;
    margin-top: 10px;
    border-radius:10px;
    box-shadow: 4px 4px dimgray;
}
.product_description{
    font-size: 14px;
    color: rgb(86, 85, 98);
    margin-top: 20px;
    text-align: center;
    font-style: italic;
}
.product_price{
    font-size: 17px;
    color: rgb(33, 32, 39);
    font-weight: bold;
    margin-top: 10px;
    font-style: italic;
}
.add_cart_btn{
     padding: 5px;
     background-color:  aliceblue;
     border-radius: 3px;
}
.content_title{
    font-size: 50px;
    color: rgb(35, 41, 39);
    font-style: bold;
    margin-left: 840px;
    font-style: italic;
}
.cart img{
    height: 30px;
    width: 30px;
}
.about_container{
    width: 600px;
    height: 250px;
    padding: 50px;
    border:1px solid aliceblue;
    border-radius: 15px;
    box-shadow: 4px 4px dimgray;
    margin-top: 100px;
    background-color: rgb(212, 212, 222);
    display: inline-block;
    margin-right: 90px;
    font-size: large;
    text-align: right;
}
.about_description{
    display: inline-block;
    font-size: 17px;
    text-align: justify;
}
.about_container a:hover,
.about_description a:hover {
    color: cornflowerblue;
}
.about img{
    width: 600px;
    height: 300px;
    margin-top: 900px;
    border-radius:10px;
    box-shadow: 4px 4px dimgray;
    display: inline-block;
    margin-right: 50px;
}