* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(117, 163, 192);
}

#nav_bar {
    height: 80px;
    width: 100%;
    background-color: rgb(72, 63, 118);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

#logo img {
    height: 60px;
    width: 60px;
    margin-left: 0px;
}


#nav a,
#login_register a {
    color: rgb(146, 222, 200);
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    font-weight: bold;
}


#nav a:hover,
#login_register a:hover {
    color: cornflowerblue;
}


#nav {
    display: flex;
    align-items: center;
}

#login_register {
    display: flex;
    align-items: center;
}

.container{
    background-color: rgb(145, 140, 169);
    width:100%;
    height: 500px;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
}
 #register_form{
    background-color:ghostwhite;
    height: auto;
    width: 350px;
    padding:20px;
    border: 2px dashed rgb(17, 8, 8);
 }
 label{
    display: inline-block;
    width: 100px;
 }
 #register_btn{
     padding: 5px;
    margin-bottom: 5px;
    background-color: rgb(25, 16, 4);
    color: aliceblue;
 }
 #form{
    border: 2px dashed rgb(17, 8, 8); 
    padding: 10px;
    background-color: ghostwhite;
 }
#login_btn{
    padding: 5px;
    margin-bottom: 5px;
    background-color: rgb(18, 12, 5);
    color: aliceblue;
}

.product_container{
    width:70%;
    border:1px solid aliceblue;
    border-radius: 15px;
}

.product{
    height: 250px;
    width: 200px;
    padding: 10px;
    display: inline-block;
    background-color: ghostwhite;
    margin-right: 10px;
    border-radius:10px;
}

.product img{
    height: 150px;
    width:150px;
    margin-top: 10px;
     border-radius:10px;
}
button{
     padding: 5px;
     background-color:  aliceblue;
     border-radius: 3px;
}